<!doctype html>
<html>
  <head>
    <title>React Transform Boilerplate</title>
    <script src="/socket.io/socket.io.js"></script>
    {{#if bugId}}
    <script>window.bugId={{{bugId}}}</script>
    {{/if}}
    {{#if ip}}
    <script>window.clientIp='{{{ip}}}'</script>
    {{/if}}
    {{#if projectName}}
    <script>window.projectName='{{{projectName}}}'</script>
    {{/if}}
    {{#if bugs}}
    <script>window.initialBugs={{{bugs}}}</script>
    {{/if}}
  </head>
  <body>
    <h1>{{{projectName}}} {{{bugId}}}</h1>
    <div id="root"></div>
    <script src="/public/bundle.js"></script>
  </body>
</html>
